/*********************************************/
/***************** FONTS *********************/
/*********************************************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*********************************************/
/***************** RESET *********************/
/*********************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*********************************************/
/***************** COLORS ********************/
/*********************************************/

$color-white:   rgb(255 255 255)    ;
$color-black:   rgb(0 0 0 )         ;
$color-01:      rgb(103 0 168)      ;
$color-02:      rgb(54 97 232)      ;
$color-03:      rgb(57 56 57)       ;
$color-04:      rgb(232 232 232)    ;
$color-05:      rgb(216 171 215)    ;
$color-06:      rgb(32 16 181 )     ;

/*********************************************/
/***************** MIXINS ********************/
/*********************************************/

@mixin m-flex($display, $f-direction, $j-content, $a-items) {
    display: $display;
    flex-direction: $f-direction;
    justify-content: $j-content;
    align-items: $a-items;
}

@mixin m-text($size, $weight, $spacing, $height, $t-color) {
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $spacing;
    line-height: $height;
    color: $t-color;
}

/*********************************************/
/***************** LAYOUTS *******************/
/*********************************************/

.panel {
    @include m-flex(flex, column, center, center);
    min-height: 100vh;
    overflow: hidden;
    padding: 5rem 0;
}

/*********************************************/
/***************** TEXTS *********************/
/*********************************************/

$s-title: 1.25em;
$s-super-title: 3.60em;
$s-text-2: 15px;
$s-item-grid: 20px;

@media (min-width: 768px) {
    $s-title: 35px;
    $s-super-title: 80px;
    $s-text-2: 18px;
    $s-item-grid: 25px;
}